.dm-content-wrap {
    width: 1200px;
    margin: 0 auto 30px;
    position: relative;
    font-size: 0;
}

.dm-content-wrap .dm-content {
    width: 1160px;
    display: none;
    position: relative;
    padding: 20px;
    border: 1px solid #EBEBEB;
    margin-top: 15px;
}

.dm-content-wrap .dm-content .head {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.dm-content-wrap .dm-content .head .head-title {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #111;
    width: 500px;
    height: 40px;
    overflow: hidden;
}

.sidebar .item a, a, a:hover {
    text-decoration: none;
}

.dm-content .head .head-more {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 23px;
    font-size: 14px;
    color: #9B9B9B;
    max-width: 450px;
    height: 100%;
    overflow: hidden;
}

.dm-content-wrap .dm-content .box {
    margin-top: 15px;
}

.dm-content .box {
    margin-top: 15px;
}
.dm-content-wrap .dm-content .box .box-left {
    display: inline-block;
    width: 270px;
    height: 360px;
    position: relative;
    overflow: hidden;
}

.dm-content .box .box-left .box-left__bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #efefef;
}

.dm-content-wrap .dm-content .box .box-left .box-left__info {
    width: 250px;
    height: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 10px;
    background-color: rgba(0,0,0,.5);
}

.dm-content-wrap .dm-content .box .box-left .box-left__info .title {
    height: 45px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dm-content-wrap .dm-content .box .box-left .box-left__info .details {
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}

.dm-content-wrap .dm-content .box .box-left .box-left__info .details span {
    font-size: 14px;
}

.dm-content-wrap .dm-content .box .box-right {
    display: inline-block;
    width: 870px;
    margin-left: 20px;
    height: 360px;
    vertical-align: top;
    overflow: hidden;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item {
    width: 273px;
    height: 160px;
    margin-right: 16px;
    display: inline-block;
    margin-bottom: 40px;
    color: #000;
    overflow: hidden;
}
.dm-content-wrap .dm-content .box .box-right .box-right__item .itemimg {
    width: 118px;
    height: 158px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #efefef;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .itemimg img {
    width: 100%;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo {
    width: 138px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
}


.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .title {
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .title {
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .showtime {
    margin-top: 7px;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .showtime, .dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .venue {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 12px;
    margin-top: 14px;
    color: #9B9B9B;
    overflow: hidden;
    word-break: break-all;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .price {
    width: 138px;
    position: absolute;
    left: 15px;
    bottom: 0;
    font-size: 16px;
    color: #FF1268;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dm-content-wrap .dm-content .box .box-right .box-right__item .iteminfo .price span {
    font-size: 12px;
}