.banner {
	width: 1200px;
	height: 320px;
	border: 0px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.long {
	width: 2400px;
	font-size: 0;
	position: absolute;
	left: 0;
	-webkit-animation: banner 10s infinite;
}

@-webkit-keyframes banner {

	0%,
	15% {
		left: 0;
	}

	250%,
	40% {
		left: -600px;
	}

	50%,
	65% {
		left: -1200px;
	}

	275%,
	90% {
		left: -1800px;
	}

	/*100% {left:-2400px;}*/
}
